################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/blazor/OnnxHub/OnnxHub/obj
/src/pyapi/__pycache__
/src/blazor/OnnxHub/OnnxHub/OnnxHub.csproj.user
/src/blazor/OnnxHub/OnnxHub/bin/Debug/net8.0
/src/blazor/OnnxHub/.vs/OnnxHub/v17
/src/blazor/OnnxHub/.vs/OnnxHub
